.custom-bundle-title {
    margin: 0;
    padding: 0;
}

.custom-bundle-app {
    padding: 15px 0;
    border-top: 1px solid rgb(227, 227, 227);
    border-bottom: 1px solid rgb(227, 227, 227);
}

.custom-variant-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-bundle-products {
    margin-bottom: 15px;
}

.custom-list-item {
    display: flex;
    justify-content: space-between;
}

.custom-list-item-left {
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.custom-list-item-right {
    display: flex;
    gap: 5px;
    align-items: center;
}

.quantity-price-container {
    display: flex;
    align-items: center;
}

.quantity-item {
    width: 4.375rem;
    height: 3rem;
    padding: 0 .225rem;
    text-align: center;
}


.custom-bundle-product-image-container,
.custom-bundle-product-image-container>img {
    width: 40px;
    height: 40px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button#sensy-add-to-cart {
    width: 100%;
    height: 35px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 10px;
}

button#sensy-add-to-cart:hover {
    color: white;
    background-color: black;
}

.custom-bundle-change-color {
    font-weight: bold;
    cursor: pointer;
}

.custom-bundle-change-color:hover {
    text-decoration: underline;
}

/* Modal styles */
/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalColorList {
    display: flex;
    gap: 10px;
}

.custom-bundle-modal-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-bundle-variant-img {
    width: 100px;
    height: 100px;
    padding: 3px;
    cursor: pointer;
}

.hovered-variant {
    border: 1px solid rgb(243, 177, 23);
}

.selected-variant {
    border: 1px solid rgb(243, 23, 23);
}